<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

<% if current_user %>
  <%= button_to "Logout", session_url, method: :delete %>
<% else %>
  <%= button_to "Login", new_session_url, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
